.logo{
    height: 75px;
    margin: 0%;
    padding: 0%;
}
.nav-item{
    margin: 20px;
}

.header{
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.title{
    margin-left: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.subtitle{
    margin-left: 130px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin-bottom: 0px;
}
p{
    margin-top: 4px;
    margin-bottom: 0px;
}

.img-fluid{
    min-height: 200px;
    min-width: 200px;
}

.card{
    height: 400px;
    cursor: pointer;
}

.card:hover{
    background-color: #f8f9fa;
}

.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}

.contact{
    width: 300px;
}

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 0px;
    color: #9e9797;
}